body{
    background-color: black;
}
header{
    background-color: aliceblue;
    height: 70%;
    width: 70%;
}

.fondo{
    background-color: aquamarine;
    width: 50%;
    height: 40%;
}